.homeWrapper{
    direction: rtl;
}

.homeWrapper .head4{
    margin-top: 40px;
    text-align: start;
    margin-bottom: 20px;
}

.articles{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.articles a{
    width: 23%;
}