.footer{
    height: 200px;
    display: flex;
    align-content: center;
    background-color: #333;
}
.footer h4{
    margin: auto;
    color: #fff;
    
}
.footer ul li{
color: #fff;
margin: auto;
}